<body>
    {{ form_start(form) }}
        <button type="button" class="add_item_link" data-collection-holder-class="elements">Add new element</button>
        <ol class="elements"
        data-index="{{ form.elements|length > 0 ? form.elements|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.elements.vars.prototype)|e('html_attr') }}">
            {% for element in form.elements %}
                <li>
                    {{ form_row(element.content) }}
                </li>
            {% endfor %}
        </ol>
    {{ form_end(form) }}

    <script>
        const addRemoveButtonToExistingItems = () => {
            const collectionHolder = document.querySelector('.elements');
            const items = collectionHolder.querySelectorAll('li');

            items.forEach(item => {
                const removeButton = document.createElement('button');
                removeButton.innerText = 'Delete';
                removeButton.addEventListener('click', () => {
                    item.remove();
                });
                item.appendChild(removeButton);
            });
        };

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder.dataset.prototype.replace(/__name__/g, collectionHolder.dataset.index);

            const removeButton = document.createElement('button');
            removeButton.innerText = 'Delete';
            removeButton.addEventListener('click', () => {
                item.remove();
            });
            item.appendChild(removeButton);

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;
        };

        document.querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });
            
        addRemoveButtonToExistingItems();
    </script>
</body>
